*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: linear-gradient(rgb(191, 191, 191), rgb(201, 201, 201));
    background-repeat: no-repeat;
    background-size: 1200px 500px;

}

header{
    background-color: yellow;
    display: flex;
    flex-direction: column;
}

/* primeira linha do header */

#linha1{
    display: flex;
    flex-direction: row;
}

#logo{
    margin: 10px;
    width: 160px;
    height: 80px;
    border-radius: 25px;
}

#BarraDePesquisa{
    font-size: 20px;
    width: 400px;
    height: 50px;
    background: white;
    border: none;
    margin-left: 10px;
    margin-top: 25px;
}

#disney{
    font-size: 50px;
    width: 70px;
    margin-left: 150px;
    margin-top: 30px;
    border-radius: 10px;
}

#meli{
    background-image: linear-gradient(purple, rgb(37, 10, 37));
    color: white;
    text-decoration: none;
    border-radius: 15px 0px 15px;
    font-size: 15px;
    height: 28px;
    padding: 5px;
    margin-top: 30px;
    margin-left: 50px;
}

.nomeMeli{
    border: 1px solid white;
    border-radius: 18px 18px 18px 0px;
    margin: 1px;
    padding: 3px;
}

.preçoMeli{
    font-weight: 999;
}

/* segunda linha do header */

#linha2{
    display: flex;
    flex-direction: row;
}

#location{
    display: flex;
    text-decoration: none;
    margin-bottom: 8px;
}

#local{
    width: 25px;
    margin-left: 10px;
}

.CEP{
    color: black;
    font-size: 14px;
}

#categorias{
    background: yellow;
    border: none;
    margin-left: 50px;
    width: 80px;
}

#categorias:hover{
    background: rgb(66, 65, 65);
    transition: .2s;
    color: white;
    border-radius: 5px;
}

#categoria-opcoes{
    background-color: rgb(66, 65, 65);
    color: white;
    border-radius: 5px;
}

#linha2-topicos-esquerda{
    font-size: 13px;
    cursor: pointer;
    padding: 10px;
    margin-top: 4px;
}

#linha2-topicos-direita{
    font-size: 13px;
    cursor: pointer;
    padding: 10px;
    margin-top: 4px;
}

.direita{
    margin-left: 160px;
}